.page-template > * {
  position: absolute;
  left: 20px;
  right: 20px;
  font-size: 90%;
}
.page-template .header {
  top: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.page-template .footer {
  bottom: 20px;
  border-top: 0.8px solid #000;
  padding-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
